---
import type { Props } from "@astrojs/starlight/props";
import { Icon } from "@astrojs/starlight/components";

// replaced dynamically
const buildDate = __DATE__;
---

<template id="theme-icons">
  <Icon name="sun" class="light" />
  <Icon name="moon" class="dark" />
  <Icon name="laptop" class="auto" />
</template>

<span style="display: hidden">Built at: {buildDate}</span>
